---
---

<div class="search">
<script>
(function() {
    var cx = '014305466539851566073:nmh0xr5woza';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
})();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
</div>

{% assign documents = site.documents | sort: "date" | reverse %}

<div class="cards">
    {% include pages.html pages=documents %}
</div>

<ul>
    {% for page in site.pages %}
    {% if page.title %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
        