{% assign date_format = site.date_format | default: "%b %-d, %Y" %}

{% for p in include.pages %}
<section class="card">
<a href="{{ p.url }}">
<h1>{{ p.title }}</h1>
<p class="excerpt">
    {%- if p.description -%}
    {{ p.description | escape }}
    {%- else -%}
    {{ p.excerpt | strip_html | truncate: 200 }}
    {%- endif -%}
</p>
<footer>
    {{ p.date | date: date_format }}
    {%- if p.closed_at -%}
    &#x20;&mdash; {{ p.closed_at | date: date_format }}
    {%- endif -%}
    {%- for issue in p.issues -%}
        {%- assign issue_id = issue | prepend: '/issues/' -%}
        {%- for i in site.issues -%}
            {%- if i.id == issue_id -%}
                &#x20;<span class="badge issue">{{ i.title }}</span>
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- for tag in p.tags -%}
        &#x20;<span class="badge tag">{{ tag }}</span>
    {%- endfor -%}
</footer>
</a>
</section>
{% endfor %}