[{{ page.date | date: date_format }}{% if page.closed_at %} &mdash; {{ page.closed_at | date: date_format }}{% endif %}] 
<a href="{{ page.collection | prepend: '/' | append: '/' | absolute_url }}">{{ page.collection }}</a>
{%- for issue in page.issues -%}
    {%- assign issue_id = issue | prepend: '/issues/' -%}
    {%- for i in site.issues -%}
        {%- if i.id == issue_id -%}
            &#x20;<a href="{{ i.url | absolute_url }}" class="badge issue">{{ i.title }}</a>
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
{%- for tag in page.tags -%}
    &#x20;<span class="badge tag">{{ tag }}</span>
{%- endfor -%}
{%- for gist in page.gist -%}
    &#x20;<a href="{{ gist }}" title="Gist">{% octicon gist %}</a>
{%- endfor -%}