html, body {
    margin: 0;
}

body {
    overflow-y: scroll;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;

    &>header, &>footer {
        flex: 0 0 auto;
        text-align: center;
    }

    &>section {
        flex: 1 0 auto;
        padding: 0 1em;

        img {
            max-width: 100%;
        }
    }
}

.cards {
    &>.card {
        &>a {
            display: block;
        }
        margin: 1em 0;

        h1 {
            margin: 0;
            padding: 0.5em 1em;
        }

        p.excerpt {
            margin: 1em;
        }

        footer {
            font-size: 0.8em;
            padding: 1em;
        }
    }
}

.mermaid {
    margin: 1em 0;
    padding: 0.5em;
    &[title]::before {
        content: attr(title);
        display: block;
    }
    &[title]::before, summary {
        padding: 0.5em 1em;
        font-size: 0.8em;
        margin: -0.625em -0.625em 0 -0.625em;
    }
    svg {
        text-align: center;
    }
}