---
layout: default
---

{% assign date_format = site.date_format | default: "%b %-d, %Y" %}
<nav>
    {% include post-nav.html %}
</nav>

{{ content }}

{% assign issue_id = page.id | remove_first: '/issues/' %}
<footer>
<h1>関連</h1>
{% assign count = 0 %}
{% assign issues = site.issues | sort: "date" | reverse %}
{%- for issue in issues -%}
    {%- if issue.issues contains issue_id -%}
        {%- if count == 0 -%}
            <ul>
        {%- endif -%}
        {%- assign count = count | plus: 1 -%}
        <li>{% include related_entry.html page=issue %}</li>
    {%- endif -%}
{%- endfor -%}
{% if count > 0 %}
    </ul>
{% endif %}

{% assign documents = site.documents | sort: "date" | reverse %}
<ul>
{%- for p in documents -%}
    {%- assign issue_id = page.id | remove_first: '/issues/' -%}
    {%- if p.issues contains issue_id and p.collection != 'issues' -%}
        {% assign count = count | plus: 1 %}
        <li>{% include related_entry.html page=p %}</li>
    {%- endif -%}
{%- endfor -%}
{%- if count == 0 -%}
    <li>関連ページはありません。</li>
{%- endif -%}
</ul>
</footer>